{{!- Here, you can see that we are referring to an object called "rental" along with its properties.--}}
{{!- The rental object is passed into this component in rentals.hbs. Refer to that file to see--}}

<article class="listing">
  {{!-- We are going to use the boolean, isWide (set in car-listing.js) to determine whether to expand the image or not when the user clicks it --}}
  <a role="button" onclick={{action "toggleImageSize"}}>
    <img src={{rental.image}} alt="" class="{{if isWide "wide" "narrow"}}">
  </a>
  <div class="details">
    <div class="detail-car">
      <h3>{{rental.title}} {{rental.model}}</h3>
      <div>
        <span>Company:</span> {{rental.company}}
      </div>
      <div>
        <span>Horse Power:</span> {{rental.horsePower}} mph
      </div>
      <div>
        <span>Type:</span> {{car-model-type rental.carType}}
      </div>
    </div>
    <div class="detail-price">
      <p>$ {{rental.price}}</p>
    </div>
  </div>
</article>